* {
    /* border: 1px solid black; */
    text-align: center;
}



.wrapper {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    height: 100vh;
    margin: 10px;
}

.sen_flo {
    display: grid;
    grid-template-rows: auto 1fr;
}

.knappar {
    order: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.knapp {
    height: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 2px;
    background-color: grey;
}

.länk {
    text-decoration: none;
    color: black;
}